@tailwind base;
@tailwind components;
@tailwind utilities;

.fill-viewport-height {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

.name {
  color: #ff8552;
}
