---
// Component Imports
import Hero from "../components/Hero.svelte"
// Imports the global styles to be inlined in the <head>
import styles from '../styles/global.css';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>narze.live</title>
		<style set:html={styles}></style>
	</head>

	<body>
		<Hero client:idle />
	</body>
</html>
